DataBaseOnlineShop/src/main/resources/xsd/carts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="carts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="cart"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="cart">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Individuals_id"/>
            </xs:sequence>
            <xs:attribute name="id" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Individuals_id" type="xs:integer"/>
</xs:schema>
