DataBaseOnlineShop/SQL/onlineShop.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

  <xsd:complexType name="address">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:integer"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="Cities_id" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cart">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:integer"/>
      <xsd:element name="Individuals_id" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
